.places__image {
  grid-area: img;
  max-width: 460px;
  max-height: 100%;
  object-fit: cover;
}


@media screen and (max-width: 1120px) {
  .places__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 960px) {
  .places__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 640px) {
  .places__image {
    max-width: 100%;
  }
}
